---
comments: true
---

# Formal Software Verification

课号: 520212U006

教材：[Software Foundations](https://softwarefoundations.cis.upenn.edu/)

教授 (2022)：[Bas Spitters](https://www.cs.au.dk/~spitters/)

## 评价 1

学期：2022 秋季

评论贡献者：[wine99](https://github.com/wine99)

上课基本上就是带着你快速地过 Software Foundations，每周的作业就是 SF 每章里面所有的题目，包括

- 第一卷 Logical Foundations 全部
- 第二卷 Programming Language Foundations 的 Smallstep 到 MoreStlc
- 额外的两讲：Dependent types 和 Monads
- 第四卷 QuickChick 的前两章：Typeclasses 和 Core QuickChick

具体课表也可以看 [这个链接](https://cs.au.dk/~spitters/fsv22.html)。

如果会 Coq 完全可以不去上课，没接触过的话可去可不去，课上可能可以学到一些书上没有提到的 tactics。

作业老师建议两个人组队，每周的作业量还是相当大的，有时候某些证明题卡住了再加上那周的题比较多的话，要写十小时+。

课上完之后要再写一个项目，项目可以从[这个](https://cs.au.dk/~spitters/fun18projects.pdf)和[这个](https://cs.au.dk/~spitters/fun18proj2.pdf)里面选，也可以在这些题目的基础上修改或者自己创造题目，以及一个 5 - 10 页的报告。

项目截止日期之后几天进行考试，考试用 ppt 展示项目然后问答，问答内容不限。成绩由项目和口试表现决定。

给分情况：15 个人考试，均分 8，众数 7。

推荐程度：5，学会了 Coq，学会了证明，作业有时候写起来挺上头的。

课程难度：4，有些作业题对我来说很难，后面有些讲的部分内容没有完全理解，比如 Monads。
